@font-face
{
    font-family: Helvetica-Rounded;
    src: url(../_fonts/HelveticaRounded-Black.otf);
}

body 
{
    background-color: #8298db;
}

#navBar
{
  background-color: #303030;
  box-shadow: 0 2px 8px 0;
  height: 18px;
  margin: 0;
  padding: 10px;
}

#navBar *
{
    display: inline;
    text-decoration: none;
}

#navbar_logo
{
    color: white;
    font-family: Helvetica-Rounded;
}

li.leftNav
{
    color: #FAFAFA;
    font-family: PT-Sans, Arial, sans-serif;
    padding: 9px;
    position: relative;
    bottom: 3px;
}

li.leftNav:hover
{
  background-color: #5b5b5b;
}

li.leftNav > a
{
    color: #FAFAFA;
}

#login_form
{
    background-color: #dbc582;
    border-radius: 20px;
    box-shadow: 0 2px 8px 0;
    height: 225px;
    margin-top: 20%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
    width: 350px;
}

.login-form
{
    border-radius: 20px;
    display: block;
    height: 12%;
    margin-left: auto;
    margin-top: 5px;
    margin-right: auto;
    width: 80%;
}

#sign_up_link
{
    color: #FAFAFA;
    float: right;
    margin-left: 4px;
    margin-right:2px;
}

#submit_button
{
    margin-bottom: 1px;
}
